<a href="https://colab.research.google.com/github/ExDrag0n/Golkin_Exam/blob/master/Homework2_Golkin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1.

Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2).

In [ ]:
def dist(x1, y1, x2, y2):
    global s
    sqrt = (x2-x1)**2+(y2-y1)**2
    s = sqrt
    return s
x1, y1, x2, y2 = map(int, input().split())
dist (x1, y1, x2, y2)
print (s)

Задача 2.

Написать функцию season(month), принимающую 1 аргумент — номер месяца (от 1 до 12), которая присваивает глобальной переменной s время года, которому этот месяц принадлежит (зима, весна, лето или осень).

In [ ]:
s = ' '
def seas(month):
    global s
    if month == 1 or month == 12 or month == 2:
        s = 'Зима'
    elif month == 3 or month == 4 or month == 5:
        s ='Весна'
    elif month == 6 or month == 7 or month == 8:
        s = 'Лето'
    elif month == 9 or month == 10 or month == 11:
        s = 'Осень'
    else:
      print ('Введите число от 1 до 12')
      return None
month=int(input())
seas(month)
print(s)

Задача 3.

Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

In [ ]:
def is_prime(n):
    global flag, i
    i = 2
    while i < n:
        s = n%i
        i += 1
        if s == 0:
            flag = False
            return flag
        else:
            s = n%i
            if s != 0:
                flag = True
                return flag
n=int(input())
is_prime(n)
print(flag)

Задача 4.

Написать функцию reverse_list(lst), которая принимает в качестве аргумента список и возвращаем его в перевернутом виде.

Например,

исходный спискок: 8, 1, 0, 4
полученный спискок: 4, 0, 1, 8
Использовать встроенные функции Python нельзя.

In [ ]:
def reverse_list(lst):
    lst = [lst[i] for i in range(len(lst) - 1, -1, -1)]#от последнего индекса массива до -1 (0) с шагом -1
    return lst

Задача 5.

Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

In [ ]:
x= 'Привет мир!'
y = x [3:8].upper()
print(y)

**Задача 6**.

Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
i = lst[0]
for i in lst:
  if lst[i] % 2 == 1:
    lst = [lst[i] for i in range(len(lst) - 1, -1, -1)]
    i += 1
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

**Задача 7**.

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

In [ ]:
c=0
for i in  range(501):
  if i>0 and i<100:
    if ((i//10==8) or (i%10==8)) and (i%7==0):
      print(i)
  elif i>99 and i<501:
    if  ((i%10==8) or ((i//10)%10)==8) and (i%7==0):
      print(i)

Задача 8.

На вход функция more_than_five(lst) получает список из целых чисел. Результатом работы функции должен стать новый список, в котором содержатся только те числа, которые больше 10 по модулю.

In [ ]:
def more_than_five(lst):
    newlst = [i for i in lst if abs(i) > 10]
    return newlst

print(more_than_five([1, 2, 3, 20, -12, 47, -100, 31, 0, 1]))